<h1>New Place</h1>

<%= form_for @place do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <br>
  <%= f.label :location %><br>
  <%= f.text_field :location %><br>
  <br>
  <%= f.label :hours_of_operation %><br>
  <%= f.datetime_field :hours_of_operation %><br>
  <br>
  <%= f.submit %>
<% end %>